.full-width {
    max-width: 100%;
    width: 100%;
}
.menu {
    background-color: #333333;
}
.menu a {
    color: rgb(255, 68, 68);
}
.menu a:hover {
    color: rgb(255, 117, 117);
    background-color: rgba(0, 0, 0, 0.2);
}
.menu a:active {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}