html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    background-color: #1b1b1b;
}
p {
    color: white;
    font-size: 2rem;
    text-align: left;
}
a:link , a:visited{
    color: rgb(255, 68, 68);
    text-decoration: underline;
}
a:hover {
    color: rgb(255, 117, 117);
}
a:active {
    color: white;
}
ul {
    color: white;
    font-size: 2rem;
    text-align: left;
    padding-left: 2vw;
}
h1 {
    font-size: 3rem;
    color: rgb(255, 68, 68);
    font-weight: bolder;
}
h2 {
    font-size: 2rem;
    color: rgb(255, 68, 68);
}
.full-width {
    max-width: 100%;
    width: 100%;
}
.menu {
    background-color: #333333;
}
.menu a {
    padding: 1.5rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    height: 8vh;
    text-decoration: none;
}
.menu a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.menu a:active {
    background-color: rgba(0, 0, 0, 0.4);
}
iframe {
    border: 0.25rem solid white;
}